.main-container {
  width: 1280px;
  margin: 0 auto;
}

header {
  padding-top: 63px;
  padding-bottom: 48px;
}

.header-logo {
  text-decoration: none;
}

.header-text-black {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.header-text-blue {
  color: #4bcaff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

nav {
  width: 1280px;
}

.menu {
  padding-top: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
}

.link-item {
  text-decoration: none;
  color: #ffffff;
}

.menu-item-sides {
  color: #35444f;
  border: solid 0.5px;
  border-color: #ffffff;
  padding: 26px 35px 19px 35px;
  background-color: #35444f;
  text-align: center;
}
.menu-item {
  border: solid 0.5px;
  border-color: #ffffff;
  padding: 26px 35.5px 19px 35.5px;
  background-color: #35444f;
  text-align: center;
  transition: 0.4s ease-in-out;
  transition-duration: 0.1s;
}

.menu-item:hover {
  background-color: #222f3a;
}

.link-sidebar-item {
  text-decoration: none;
  color: #485863;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding: 26px 0px 26px 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.4s ease-in-out;
  transition-duration: 0.1s;
}

.link-sidebar-item:hover {
  color: #000000;
  background-color: #dbdbdb;
}

.link-name {
  transition: 0.4s;
  transition-duration: 0.3s;
}

.link-name:hover {
  transform: translateX(20px);
}

.sidebar {
  width: 342px;
  border-color: #000000;
  border: solid 0.5px;
}

.ramda-foto {
  padding: 75px 268px 73px 297px;
  transition: 0.4s;
  transition-duration: 0.3s;
}

.ramda-foto:hover {
  transform: scale(1.2);
}

.ramda {
  width: 885px;
  border: 0.5px solid;
}

.text {
  width: 885px;
  padding-top: 37px;
  padding-bottom: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.top-text {
  padding-bottom: 34px;
}

section {
  margin-left: 50px;
}

main {
  display: flex;
}

footer {
  display: flex;
  padding-bottom: 30px;
}

.navigation {
  width: 1050px;
}

.bottom-navigation {
  display: flex;
  justify-content: flex-start;
  color: #0c1927;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  padding: 20px 40px;
  background-color:#63696E7A;
}

.bottom-navigation-item {
  margin-right: 27px;
  transition: 0.4s ease-in-out;
  transition-duration: 0.1s;
}

.bottom-navigation-item:hover {
  color: #3181a5;
  border-bottom: 2px #3181a5 solid;
}
.copyright {
  display: flex;
  align-items: center;
  color: #010101;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #63696E7A;
  padding-right: 40px;
}
